@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.section {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 200px;
  font-size: 22px;
}

.float {
  width: fit-content;
  transform: translatey(0px);
  animation: float 2.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(15px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(25px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(15px);
  }
}
